<home>
  <div class="jumbotron, container-fluid" , style="height=60vh">
    <div class= 'container'>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "william-colenso.jpg", class: 'img-responsive' %>
      </div>
      <div class='container-fluid'>
        <div class="col-md-6">
          <text>
            <h1>
              The Colenso Project
            </h1>
            <p>William Colenso was a printer of some of the most significant documents in New Zealand history in addition to being a missionary, explorer and botanist.
            </p>
            <p>Explore all things Colenso, letters, journals, diaries, articles</p>

          </text>
        </div>
      </div>
    </div>
  </div>
  </div>

</home>
