<%= form_tag({controller: 'add', method: :get}, {multipart: true}) do %>
  <div class = 'container'>
    <div class = 'well'>
      Choose a file to upload
        <%= file_field_tag 'upload', accept: 'text/xml' %>
    </div>

    <div class = 'well'>
      Add to database
      <%= submit_tag "Add new letter", class: "btn btn-default" %>
    </div>
  </div>
<% end %>
