<%= button_to "Download", action: :create, path: params[:path] if params[:mode] == 'display' %>
<%= link_to "Edit", mode: "edit", path: params[:path], controller: "edit", id: 'editor' if params[:mode] == 'display'%>

<% if params[:mode] == 'display' %>
<div class="well">
  <%= raw "#{@file}" %>
</div>
<% end %>
