
<div class='well col-xs-12'>
  for $file in collection('Colenso_TEIs') where
  <div class="input-group">
      <%= text_area_tag 'query', nil, class:'well well-lg col-xs-12', style:"width:60vh" %>
  </div>
  return (<result>
        {$file//title}
        <path>{db:path($file)}</path>
      </result>)//text()
</div>
