
<div class='well col-xs-12'>
  for $file in collection('Colenso_TEIs')
  <div class="input-group">
      <%= text_area_tag 'xQuery', 'where', class:'well well-lg col-xs-12', style:"height:60vh" %>
  </div>
  return (<result>
        {$file//title}
        <path>{db:path($file)}</path>
      </result>)//text()
</div>
