<div class="btn-group, container" role="group">
  <% @folders.keys.each do |folder| %>
  <div>
      <button type="button" class="btn btn-default" style="width:100%"><%= "#{folder}" %></button>
    </div>
  <% end %>
</div>
